*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    height: 100vh;
    position: relative;
}

.aside{
    background-color: black;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aside__top-container{
    flex-shrink: 0;
}


.aside ul{
    padding: 5px;
    margin-top: 5px;
}

.aside li{
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
}

.aside__central-container{
    flex-grow: 1;
}

.aside__bottom-container{
    flex-shrink: 0;
    padding-bottom: 50px;
}



.aside__download-icon{
    width: 15px;
}

.aside__user-icon{
    background-color: #878787;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    overflow: hidden;
}
















.main{
    background-color: #141922;
    width: 90%;
    height: 100%;
}

.action{
    background-color: #282828;
    height:10% ;
    width: 100%;
    position: absolute;
    bottom: 0;
}